/*body,ul,li*/
body,ul,li { 
  padding:0; margin:0;
}

#topbar { 
  position:relative; 
  top:25px;
}

#occupancy {
  position:relative; 
  top:-95px;
}
 
#mapBG {
  position:relative; 
  top:-50px;
}
 
#redLine0 {
  position:relative; 
  top:0px; 
  left:-320px; 
}

#redLine1 {
  position:relative; 
  top:0px; 
}
 
#redLine2 {
  position:relative; 
  top:0px; 
  left:320px; 
}
 
#logo {
  position:absolute; 
  top:25px; 
  right:30px; 
}
 
ul,li { 
  list-style:none;
}

.img-scroll {
  position: relative; 
  top: -1076px; 
  width: 1200px;
}
 
.img-scroll .prev,.img-scroll .next {
  position: relative; 
  top: 324px;
}
 
.img-scroll .prev {
  left: -500px;
  cursor: pointer;
}
 
.img-scroll .next {
  left: 500px;
  cursor:pointer;
}
 
.img-list { 
  position:relative; 
  width:800px; 
  height:768px; 
  margin-top:-170px; 
  margin-left:-10px; 
  overflow:hidden;
}

.img-list ul { 
  width:9999px;
}
 
.img-list li { 
  float:left; 
  display:inline; 
  width:800px; 
  margin-right:10px; 
  height:768px; 
  text-align:center; 
  line-height:100px;
}